Repository emberjs/rfcs, pull requests merged in 2020-10, with the labels that each got.

#631 add refresh method to router service
  text/0631-refresh-method-for-router-service.md
Labels: Final Comment Period

#645 Add ember-page-title to app default blueprint
  text/0000-add-ember-page-title-addon.md
Labels: Final Comment Period, T-ember-cli, T-learning

#659 unique-id helper
  text/0659-unique-id-helper.md
Labels: Final Comment Period

#671 Stop Leaking Implementation Details of Built-in Components
  text/0671-modernize-built-in-components-1.md
Labels: Final Comment Period, T-components, T-deprecation, T-templates
