Repository emberjs/rfcs, pull requests merged in 2022-04, with the labels that each got.

#742 rfc: ember-data | Deprecate Helper Functions
  text/0742-ember-data-deprecate-helper-functions.md
Labels: T-ember-data, Final Comment Period, T-deprecation

#739 rfc: ember-data | deprecate-non-strict-relationships
  text/0739-ember-data-deprecate-non-strict-relationships.md
Labels: T-ember-data, Final Comment Period, T-deprecation

#785 Introduce new test helpers for rendering (and re-rendering) that obviate the need for `get` and `set`
  text/0785-remove-set-get-in-tests.md
Labels: Final Comment Period, T-framework, T-testing, T-ember-cli, T-TypeScript

#800 RFC: TypeScript Adoption Plan
  text/0800-ts-adoption-plan.md
Labels: T-ember-data, Final Comment Period, T-framework, T-learning, T-ember-cli

#808 Amend RFC 0724 to include template type checking
  text/0724-road-to-typescript.md
Labels: Final Comment Period, T-infrastructure, T-framework, T-TypeScript

#730 RFC: Semantic Versioning for TypeScript Types
  text/0730-semver-for-ts.md
Labels: Final Comment Period
