Repository emberjs/rfcs, pull requests merged in 2022-12, with the labels that each got.

#860 EmberData | Request Service
  text/0860-ember-data-request-service.md
Labels: T-ember-data, Final Comment Period, S-Exploring

#812 Add `tracked-built-ins` dependency
  text/0812-tracked-built-ins.md
Labels: Final Comment Period, T-framework, S-Exploring

#790 Deprecate ajax in favor of fetch in ember-data
  text/0790-deprecate-ember-data-ajax.md
Labels: T-ember-data, Final Comment Period, T-deprecation, S-Exploring

#889 Deprecate @ember/error
  text/0889-deprecate-ember-error.md
Labels: Final Comment Period, S-Exploring
